.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/coffe\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  footer{
    background-color: rgba(20, 20, 20);
  }
  